{% extends '::base.html.twig' %}

{% block guia %}
    {{ parent() }}
    <li><a href="{{ path('liquidaciones_cuposliquidacion') }}">Listados de Cupos</a></li>
    <li><a href="{{ path('liquidaciones_cuposliquidacion') }}">Cupos</a></li>
    <li class="active">Busqueda del Reemplazado</li>
{% endblock %}
    
    
    
{% block contenido -%}
    <h1>Búsqueda del Reemplazado</h1>
    <h4>Cupo: {{ nombre }}</h4>
    <div class="row" style="margin-bottom: 15px;">
        <div class="error alert alert-danger">
            
        </div>
    </div>
    
 {% if app.session.flashbag.has('aviso_error') %}

<div class="alert alert-danger alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>

{% for flahMessage in app.session.flashbag.get('aviso_error') %}
    <p><span class="glyphicon glyphicon-alert"></span> 
        {{ flahMessage }}
    </p>

{% endfor %}
    {# form_errors(form) #}

</div>
{% endif %}       
    
    <form id="form1" class="form-horizontal" method="post" action="{% if (ruta == 'editar') %} {{ path('liquidaciones_seleccionareditar') }} {% else %} {{ path('liquidaciones_seleccionar') }} {% endif %}">
            
            <div class="form-group col-md-12" style="text-align: left;">
                <label for="busqueda" class="col-md-2">
                    Búsqueda:

                </label>
                <div class="col-md-5">
                    {# form_label(form.tipodependencia) #}

                    <select name="filtro" id="filtro" class="form-control">
                        <option value="1">Legajo</option>
                        <option value="2">Apellido y Nombre</option>
                        <option value="3">Nro Documento</option>
                    </select>
                </div>
                <div class="col-md-5">
                    {# form_label(form.tipodependencia) #}
                    <input type="hidden" class="form-control" id="fechanovedad" name="fechanovedad" value="{{ fechanovedad }}"/>
                    {% if (persona is empty) %}
                    <input type="hidden" class="form-control" id="persona" name="persona" value="0"/>
                    {% else %}
                    <input type="hidden" class="form-control" id="persona" name="persona" value="{{ persona }}"/>
                    {% endif %}
                    <input type="text" class="form-control" id="busqueda" name="busqueda"/>
                </div>
            </div>
            <div class="form-group col-md-12" style="text-align: center;">
                
                <button type="button" class="btn btn-ba" id="buscar" >Buscar</button>

            </div>
            
        </form>

        <ul>

            <li>
                {% if (idCuenta == 24) %}
                <button type="button" class="btn btn-default" style="margin-left:0px;" onClick="location.href = '{% if (ruta == 'editar') %} {{ path('liquidaciones_editdeuda',{'id':ideditar,'refRGpersonalcargo':0}) }} {% else %} {{ path('liquidaciones_newdeuda',{'persona':0}) }} {% endif %}'">Volver</button>
                {% else %}
                <button type="button" class="btn btn-default" style="margin-left:0px;" onClick="location.href = '{% if (ruta == 'editar') %} {{ path('liquidaciones_edit',{'id':ideditar,'refRGpersonalcargo':0}) }} {% else %} {{ path('liquidaciones_new',{'persona': persona,'personarg':personarg, 'fechaguardia': fechanovedad}) }} {% endif %}'">Volver</button>
                {% endif %}
            </li>

        </ul>
    
    
    <script type="text/javascript">
    $(document).ready(function(){
        $('#buscar').click(function() {
        switch($('#filtro').val()) {
        case '1':
         if ($('#busqueda').val() != '') {  
            if (!isNaN($('#busqueda').val())) {
                  $('#form1').submit();
            } else {
                  $('.alert').show(200);
                  $('.alert').html('Error: Solo puede ingresar numeros.');
            }
          } else {
              $('.alert').show(200);
              $('.alert').html('Error: Debe ingresar un valor.');
          }
         
         break;
        case '2':
         if ($('#busqueda').val().length >= 4) {
                $('#form1').submit();
          } else {
                $('.alert').show(200);
                $('.alert').html('Error: Debe ingresar al menos 4 caracteres.');
          }
         break;
        case '3':
         if ($('#busqueda').val() != '') {  
                if (!isNaN($('#busqueda').val())) {
                       $('#form1').submit();
                 } else {
                       $('.alert').show(200);
                       $('.alert').html('Error: Solo puede ingresar numeros.');
                 }
            } else {
              $('.alert').show(200);
              $('.alert').html('Error: Debe ingresar un valor.');
            }
         break;
           } 
        });
        
        $('#filtro').change(function(){
            $('.alert').hide(100);
        });
        
    }); 
    </script>
    {% endblock %}
