{% extends '::base.html.twig' %}


{% block guia %}
    {{ parent() }}
    <li><a href="{{ path('liquidaciones_cuposliquidacion') }}">Listados de Cupos</a></li>
    <li><a href="{{ path('liquidaciones_buscarhistoricopersona') }}">Busqueda</a></li>
    <li class="active">Carga</li>
{% endblock %}
    
    
{% block contenido -%}

    
<style>
    .typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 8px;
    font-size: 24px;
    height: 45px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 396px;
    }
    .typeahead {
        background-color: #FFFFFF;
    }
    .typeahead:focus {
        border: 2px solid #0097CF;
    }
    .tt-query {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    }
    .tt-hint {
        color: #999999;
    }
    .tt-dropdown-menu {
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        margin-top: 12px;
        padding: 8px 0;
        width: 422px;
    }
    .tt-suggestion {
        font-size: 18px;
        line-height: 24px;
        padding: 3px 20px;
    }
    .tt-suggestion.tt-cursor {
        background-color: #0097CF;
        color: #FFFFFF;
    }
    .tt-suggestion p {
        margin: 0;
    }
    .gist {
        font-size: 14px;
    }
    #custom-templates .empty-message {
        padding: 5px 10px;
        text-align: center;
    }
    #multiple-datasets .league-name {
        border-bottom: 1px solid #CCCCCC;
        margin: 0 20px 5px;
        padding: 3px 0;
    }
    #scrollable-dropdown-menu .tt-dropdown-menu {
        max-height: 150px;
        overflow-y: auto;
    }
    #rtl-support .tt-dropdown-menu {
        text-align: right;
    }

    
    form.cupo .error1 ul li {
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 4px;
        margin-bottom: 20px;
        padding: 15px;
        background-color: #F2DEDE;
        border-color: #EBCCD1;
        color: #A94442;
    }
    .form-horizontal .control-label {
        text-align: left;
    }
    
    .bs-example {
        border-color: #E5E5E5 #EEEEEE #EEEEEE;
        border-style: solid;
        border-width: 1px 0;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05) inset;
        margin: 0 -15px 15px;
        padding: 45px 15px 15px;
        position: relative;
    }
    .bs-example:after {
        color: #959595;
        content: "Datos del Agente";
        font-size: 12px;
        font-weight: 700;
        left: 15px;
        letter-spacing: 1px;
        position: absolute;
        text-transform: uppercase;
        top: 15px;
    }
    .bs-example + .highlight {
        border-radius: 0;
        border-width: 0 0 1px;
        margin: 0;
    }
    
    .bs-callout {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: #EEEEEE;
        border-image: none;
        border-radius: 3px;
        border-style: solid;
        border-width: 1px 1px 1px 5px;
        margin: 20px 0;
        padding: 20px;
    }


    .bs-callout-info {
        border-left-color: #F5802D;
    }

    .letraChica {
        font-size: 0.8em;
    }
    @media (min-width: 768px) {
        .bs-example {
            background-color: #FFFFFF;
            border-color: #DDDDDD;
            border-radius: 4px 4px 0 0;
            border-width: 1px;
            box-shadow: none;
            margin-left: 0;
            margin-right: 0;
        }
        .bs-example + .highlight {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            border-width: 1px;
            margin-left: 0;
            margin-right: 0;
            margin-top: -16px;
        }
    }
</style>

    
    
  

    
    
    <h1><span class="glyphicon glyphicon-plus-sign"></span> Seleccionar el agente</h1>
    <hr>

{% if app.session.flashbag.has('aviso_error') %}

<div class="alert alert-danger alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>

{% for flahMessage in app.session.flashbag.get('aviso_error') %}
    <p><span class="glyphicon glyphicon-alert"></span> 
        {{ flahMessage }}
    </p>

{% endfor %}
    {# form_errors(form) #}

</div>
{% endif %}


{% if app.session.flashbag.has('aviso_ok') %}

<div class="alert alert-success alert-dismissable" role="alert">
      
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>

{% for flahMessage in app.session.flashbag.get('aviso_ok') %}
    <p><span class="glyphicon glyphicon-ok"></span>
        {{ flahMessage }}
    </p>

{% endfor %}
    {# form_errors(edit_form) #}

</div>
{% endif %}
    
    
    
    

<form class="cupo form-inline" action="{{ path('cupos_create') }}" method="post">
    



    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>
                    Legajo
                </th>
                <th>
                    Apellido y Nombre
                </th>
                <th>
                    Nº de Documento
                </th>
                <th>
                    Régimen Estatutario
                </th>
                <th>
                    Agrupamiento
                </th>
                <th>
                    Planta
                </th>
                <th>
                    Externo
                </th>
               
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        
                                
        <tbody class="resultados">
            
            {% if (resultados == null) %}
            <tr>
                <td colspan="5">
                    No se han encontrado datos en la busqueda, por favor intente nuevamente.
                </td> 
            </tr>
            {% endif %}
            {% for dato in resultados %}
            <tr class="fila" id="{{ dato.RefPersonalCargo }}">
                <td>
                    {{ dato.Legajo }}
                </td>
                <td>
                    {{ dato.apyn }}
                </td>
                <td>
                    {{ dato.nrodocumento }}
                </td>
                <td>
                    {{ dato.RegimenEstatutario|raw }}
                </td>
                <td>
                    {{ dato.Agrupamiento|raw }}
                </td>
                <td>
                    {{ dato.planta }}
                </td>
                <td>
                    {% if (dato.EsExterno == 1) %}
                        Si
                    {% else %}
                        No
                    {% endif %}
                    
                </td>
                
                <td>
                    <a href="{{ path('liquidaciones_historico',{'persona':dato.RefPersonalCargo}) }}">Seleccionar</a>
                </td>
                
                
            </tr>
            <tr>
                <div class="row" style="display: none;" id="persona{{ dato.RefPersonalCargo }}">
                    <div class="bs-callout bs-callout-info">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4>
                            Datos del Agente
                        </h4>
                        <p>
                            Agrupamiento: <span id="agrupamiento"><b>{{ dato.Agrupamiento }}</b></span>
                        </p>
                        <p>
                            Dependencia de Nombramiento: <span id="depenom"><b>{{ dato.DepeNom }}</b></span>
                        </p>
                        <p>
                            Dependencia de Pago: <span id="depepago"><b>{{ dato.DepePago }}</b></span>
                        </p>
                        <p>
                            Fecha Baja Preventiva: <span id="fechabaja"><b>{{ dato.FechaBajaPreventiva }}</b></span>
                        </p>
                    </div>
                    
                </div>
            </tr>
            {% endfor %}
            
            
        </tbody>

    </table>
    

    



        <input type="hidden" name="cantCuentas" id="cantCuentas" value="1">
        <input type="hidden" name="lstCuentasAgregadas" id="lstCuentasAgregadas" value="">

        <div class="form-group col-md-12" style="text-align: left;">
        <ul class="list-inline" style="margin-top:10px;">

                <li>
                    <button type="button" class="btn btn-default" style="margin-left:0px;" onClick="location.href = '{{ path('liquidaciones_buscarhistoricopersona') }}'">Volver</button>
                </li>
            </ul>
        </div>
</form>

    
<script type="text/javascript">
    $(document).ready(function(){
        
        
        
        $('.fila').click(function() {
           usersid =  $(this).attr("id");
           $('#persona'+usersid).show(300);
        });
        
        $('.bs-callout').click(function() {
           usersid =  $(this).attr("id");
           $('#persona'+usersid).hide(300);
        });
    });
</script>


{% endblock %}
