{% extends '::base.html.twig' %}

{% block guia %}
    {{ parent() }}
    <li><a href="{{ path('cuposanuales') }}">Cupos Anuales</a></li>
    <li class="active">Modificar</li>
{% endblock %}

{% block contenido -%}
<script type="text/javascript">
    $(document).ready(function(){

        $('#liquidaciones_cuposanualesbundle_cuposanuales_Monto').number(true, 2, '.','');

    });
</script>
    <h1><span class="glyphicon glyphicon-edit"></span> Modificar Cupo Anual</h1>

{% if app.session.flashbag.has('aviso_error') %}

<div class="alert alert-danger alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>

{% for flahMessage in app.session.flashbag.get('aviso_error') %}
    <p>
        {{ flahMessage }}
    </p>

{% endfor %}
    {{ form_errors(edit_form) }}

</div>
{% endif %}
    
    
{% if app.session.flashbag.has('aviso_ok') %}

<div class="alert alert-success alert-dismissable" role="alert">

    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>

{% for flahMessage in app.session.flashbag.get('aviso_ok') %}
    <p><span class="glyphicon glyphicon-ok"></span> 
        {{ flahMessage }}
    </p>

{% endfor %}
    {{ form_errors(edit_form) }}

</div>
{% endif %}
    
    
    <form class="cupo form-inline" action="{{ path('cuposanuales_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
                                
                                <div class="row">
                                {{ form_errors(edit_form.Descripcion) }}
                                {{ form_errors(edit_form.Monto) }}
                                </div>
                                
                                <div class="row">
                                <div class="form-group col-md-8" style="text-align: left;">
                                    {{ form_label(edit_form.Descripcion, null) }}
                                    <div class="input-group col-md-12">
                                        {{ form_widget(edit_form.Descripcion) }}
                                    </div>
                                </div>
                                
                                
                                <div class="form-group col-md-4">
                                    {{ form_label(edit_form.Anio, null) }}
                                    <div class="input-group col-md-12">
                                        {{ form_widget(edit_form.Anio) }}
                                    </div>
                                </div>
                                </div>
                                    
                                <div class="row">    
                                <div class="form-group col-md-6">
                                    {{ form_label(edit_form.Monto, null) }}
                                    <div class="input-group col-md-12">
                                        <span class="input-group-addon">$</span>
                                        {{ form_widget(edit_form.Monto) }}
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-6">
                                    {{ form_label(edit_form.Activo, null) }}
                                    <div class="input-group col-md-12">
                                        {{ form_widget(edit_form.Activo) }}
                                    </div>
                                </div>
                                </div>
                                

                                
                                <ul class="list-inline" style="margin-top:10px;">
                                    <li>

                                        {{ form_widget(edit_form.Guardar) }}
                                        {{ form_widget(edit_form._token) }}
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-default" style="margin-left:0px;" onClick="location.href = '{{ path('cuposanuales') }}'">Volver</button>
                                    </li>
                                </ul>
                                    
                               
                          
                            </form>   
{% endblock %}
