{% extends '::base.html.twig' %}

{% block body -%}
    <h1>PerfilUsuarios list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Refusuario</th>
                <th>Refperfil</th>
                <th>Refdependencia</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('perfilusuarios_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.refUsuario }}</td>
                <td>{{ entity.refPerfil }}</td>
                <td>{{ entity.refDependencia }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('perfilusuarios_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('perfilusuarios_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('perfilusuarios_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
