{% extends '::base.html.twig' %}

{% block body -%}
    <h1>PerfilUsuarios</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Refusuario</th>
                <td>{{ entity.refUsuario }}</td>
            </tr>
            <tr>
                <th>Refperfil</th>
                <td>{{ entity.refPerfil }}</td>
            </tr>
            <tr>
                <th>Refdependencia</th>
                <td>{{ entity.refDependencia }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('perfilusuarios') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('perfilusuarios_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
