{% extends '::base.html.twig' %}

{% block contenido -%}
    <h1>Cuentas</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Conceptoms</th>
                <td>{{ entity.conceptoMS }}</td>
            </tr>
            <tr>
                <th>Idtipoliquidacion</th>
                <td>{{ entity.idTipoLiquidacion }}</td>
            </tr>
            <tr>
                <th>Cuenta</th>
                <td>{{ entity.cuenta }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{{ entity.activo }}</td>
            </tr>
            <tr>
                <th>Modocarga</th>
                <td>{{ entity.modoCarga }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('cuentas') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('cuentas_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
